<footer id="main-footer" class="py-2 text-white fixed-bottom" style="background-color:#3292a6">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 ml-auto">
                    <p class="lead">Copyright &copy; 2018 Soumyajeet</p>
                </div>
                
            </div>
        </div>
    </footer>